<a href="https://colab.research.google.com/github/prabirdeb/SQL-Case_Study-Pizza-Runner/blob/main/SQL_Case_Study_Pizza_Runner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL Case Study- Pizza Runner**

**Introduction**

Did you know that over 115 million kilograms of pizza is consumed daily worldwide??? (Well according to Wikipedia anyway…)

Danny was scrolling through his Instagram feed when something really caught his eye - “80s Retro Styling and Pizza Is The Future!”

Danny was sold on the idea, but he knew that pizza alone was not going to help him get seed funding to expand his new Pizza Empire - so he had one more genius idea to combine with it - he was going to Uberize it - and so Pizza Runner was launched!

Danny started by recruiting “runners” to deliver fresh pizza from Pizza Runner Headquarters (otherwise known as Danny’s house) and also maxed out his credit card to pay freelance developers to build a mobile app to accept orders from customers.

**Available Data**

Because Danny had a few years of experience as a data scientist - he was very aware that data collection was going to be critical for his business’ growth.

He has prepared for us an entity relationship diagram of his database design but requires further assistance to clean his data and apply some basic calculations so he can better direct his runners and optimise Pizza Runner’s operations.

All datasets exist within the pizza_runner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

![image.png]()

**Table 1: runners**

The runners table shows the registration_date for each new runner

**Table 2: customer_orders**

Customer pizza orders are captured in the customer_orders table with 1 row for each individual pizza that is part of the order.

The pizza_id relates to the type of pizza which was ordered whilst the exclusions are the ingredient_id values which should be removed from the pizza and the extras are the ingredient_id values which need to be added to the pizza.

Note that customers can order multiple pizzas in a single order with varying exclusions and extras values even if the pizza is the same type!

The exclusions and extras columns will need to be cleaned up before using them in your queries.

**Table 3: runner_orders**

After each orders are received through the system - they are assigned to a runner - however not all orders are fully completed and can be cancelled by the restaurant or the customer.

The pickup_time is the timestamp at which the runner arrives at the Pizza Runner headquarters to pick up the freshly cooked pizzas. The distance and duration fields are related to how far and long the runner had to travel to deliver the order to the respective customer.

There are some known data issues with this table so be careful when using this in your queries - make sure to check the data types for each column in the schema SQL!

**Table 4: pizza_names**

At the moment - Pizza Runner only has 2 pizzas available the Meat Lovers or Vegetarian!

**Table 5: pizza_recipes**

Each pizza_id has a standard set of toppings which are used as part of the pizza recipe.

**Table 6: pizza_toppings**

This table contains all of the topping_name values with their corresponding topping_id value

In [1]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 408 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

**Case Study Questions**

## I. How many pizzas were ordered?

**Expected Output:**

![image.png]()

In [2]:
# Write Your code here.

# Checking the head of runner_orders table
mysql('''SELECT * FROM runner_orders''')

   order_id  runner_id          pickup_time distance    duration cancellation
0         1          1  2020-01-01 18:15:34     20km  32 minutes
1         2          1  2020-01-01 19:10:54     20km  27 minutes
2         3          1  2020-01-03 00:12:37   13.4km     20 mins         None
3         4          2  2020-01-04 13:53:03     23.4          40         None
4         5          3  2020-01-08 21:10:57       10          15         None
5         6          3                 null     null        null    Cancelled
6         7          2  2020-01-08 21:30:45     25km      25mins         null
7         8          2  2020-01-10 00:15:02  23.4 km   15 minute         null
8         9          2                 null     null        null    Cancelled
9        10          1  2020-01-11 18:50:20     10km   10minutes         null

In [3]:
# Checking the head of runners table
mysql('''SELECT * FROM runners''')

   runner_id registration_date
0          1        2021-01-01
1          2        2021-01-03
2          3        2021-01-08
3          4        2021-01-15

In [4]:
# Checking the head of customer_orders table
mysql('''SELECT * FROM customer_orders''')

    order_id  customer_id  pizza_id exclusions extras           order_time
0          1          101         1                    2020-01-01 18:05:02
1          2          101         1                    2020-01-01 19:00:52
2          3          102         1                    2020-01-02 23:51:23
3          3          102         2              None  2020-01-02 23:51:23
4          4          103         1          4         2020-01-04 13:23:46
5          4          103         1          4         2020-01-04 13:23:46
6          4          103         2          4         2020-01-04 13:23:46
7          5          104         1       null      1  2020-01-08 21:00:29
8          6          101         2       null   null  2020-01-08 21:03:13
9          7          105         2       null      1  2020-01-08 21:20:29
10         8          102         1       null   null  2020-01-09 23:54:33
11         9          103         1          4   1, 5  2020-01-10 11:22:59
12        10          104         1       null   null  2020-01-11 18:34:49
13        10          104         1       2, 6   1, 4  2020-01-11 18:34:49

In [5]:
# Checking the head of pizza_names table
mysql('''SELECT * FROM pizza_names''')

   pizza_id  pizza_name
0         1  Meatlovers
1         2  Vegetarian

In [6]:
# Checking the head of pizza_recipes table
mysql('''SELECT * FROM pizza_recipes''')

   pizza_id                 toppings
0         1  1, 2, 3, 4, 5, 6, 8, 10
1         2       4, 6, 7, 9, 11, 12

In [7]:
# Checking the head of pizza_toppings table
mysql('''SELECT * FROM pizza_toppings''')

    topping_id  topping_name
0            1         Bacon
1            2     BBQ Sauce
2            3          Beef
3            4        Cheese
4            5       Chicken
5            6     Mushrooms
6            7        Onions
7            8     Pepperoni
8            9       Peppers
9           10        Salami
10          11      Tomatoes
11          12  Tomato Sauce

In [8]:
# Total no. of pizzas ordered
mysql('''SELECT COUNT(order_id) AS no_of_pizzas_ordered FROM runner_orders''')

   no_of_pizzas_ordered
0                    10

## II. How many unique customer orders were made?

**Expected Output:**

![image.png]()

In [9]:
# Write Your code here.

# Unique orders group by customer id
mysql('''SELECT DISTINCT(customer_id), COUNT(order_id) AS unique_orders FROM customer_orders GROUP BY customer_id''')

   customer_id  unique_orders
0          101              3
1          102              3
2          103              4
3          104              3
4          105              1

## III. How many successful orders were delivered by each runner?

**Expected Output:**

![image.png]()

In [10]:
# Write Your code here.

# successfull orders where pick up time is not null
mysql('''SELECT COUNT(order_id) AS successful_orders FROM runner_orders WHERE pickup_time!="null"''')

   successful_orders
0                  8

## IV. How many of each type of pizza was delivered?

**Expected Output:**

![image.png]()

In [11]:
# Write Your code here.

# Finding no. of delivered pizza by joining runner_orders and customer_orders
mysql('''SELECT customer_orders.pizza_id, COUNT(customer_orders.order_id) AS no_of_delivered_pizza FROM customer_orders JOIN runner_orders ON runner_orders.order_id=customer_orders.order_id WHERE pickup_time!="null" GROUP BY pizza_id''')

   pizza_id  no_of_delivered_pizza
0         1                      9
1         2                      3

## V. How many Vegetarian and Meatlovers were ordered by each customer?

**Expected Output:**

![image.png]()

In [12]:
# Finding groupby statistics of no of orders joining customer_orders and pizza_names table
mysql('''SELECT customer_orders.customer_id, pizza_names.pizza_name, COUNT(pizza_names.pizza_name) AS no_of_orders FROM customer_orders JOIN pizza_names ON pizza_names.pizza_id=customer_orders.pizza_id GROUP BY customer_id, pizza_name ORDER BY customer_id''')

   customer_id  pizza_name  no_of_orders
0          101  Meatlovers             2
1          101  Vegetarian             1
2          102  Meatlovers             2
3          102  Vegetarian             1
4          103  Meatlovers             3
5          103  Vegetarian             1
6          104  Meatlovers             3
7          105  Vegetarian             1

## VI. What was the maximum number of pizzas delivered in a single order?

**Expected Output:**

![image.png]()

In [13]:
# Write Your code here.

# Checking the pizza counts group by order_id
mysql('''SELECT customer_orders.order_id, COUNT(customer_orders.pizza_id) AS count_pizza FROM customer_orders JOIN runner_orders ON runner_orders.order_id=customer_orders.order_id WHERE runner_orders.pickup_time!="null" GROUP BY order_id''')

   order_id  count_pizza
0         1            1
1         2            1
2         3            2
3         4            3
4         5            1
5         7            1
6         8            1
7        10            2

In [14]:
# Finding the max no of pizzas in a single order by creating a "pizza_table" as temporary table
mysql('''WITH pizza_table AS (SELECT customer_orders.order_id, COUNT(customer_orders.pizza_id) AS count_pizza FROM customer_orders JOIN runner_orders ON runner_orders.order_id=customer_orders.order_id WHERE runner_orders.pickup_time!="null" GROUP BY order_id)
SELECT MAX(count_pizza) AS max_no_of_pizzas_in_single_order FROM pizza_table''')

   max_no_of_pizzas_in_single_order
0                                 3

## VII. How many pizzas were delivered that had both exclusions and extras?

**Expected Output:**

![image.png]()

In [15]:
# Finding orders with both exclusions and extras and not cancelled
mysql('''SELECT customer_orders.order_id, COUNT(customer_orders.order_id) AS no_of_pizza_delivered_w_exclusions_extras FROM customer_orders JOIN runner_orders ON runner_orders.order_id=customer_orders.order_id WHERE customer_orders.exclusions != "null" AND customer_orders.extras != "null" AND runner_orders.pickup_time	!= "null" GROUP BY order_id''')

   order_id  no_of_pizza_delivered_w_exclusions_extras
0         1                                          1
1         2                                          1
2         3                                          1
3         4                                          3
4        10                                          1

## VIII. What was the total volume of pizzas ordered for each hour of the day?

**Expected Output:**

![image.png]()

In [16]:
# Write Your code here.

# Finding the total volume of pizzas ordered for each hour of the day
mysql('''SELECT HOUR(order_time) AS hour_of_the_day, COUNT(order_id) AS total_pizzas_ordered 
FROM customer_orders GROUP BY hour_of_the_day''')

   hour_of_the_day  total_pizzas_ordered
0               18                     3
1               19                     1
2               23                     3
3               13                     3
4               21                     3
5               11                     1

## IX. What was the volume of orders for each day of the week?

**Expected Output:**

![image.png]()

In [17]:
# Write Your code here.

# Finding the volume of orders for each day of the week
mysql('''SELECT DAY(order_time) AS day_of_week, COUNT(order_id) AS total_pizzas_ordered 
FROM customer_orders GROUP BY day_of_week''')

   day_of_week  total_pizzas_ordered
0            1                     2
1            2                     2
2            4                     3
3            8                     3
4            9                     1
5           10                     1
6           11                     2

## X. What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?

**Expected Output:**

![image.png]()

In [18]:
# Finding the avg mins taken to arrive the HQ
mysql('''SELECT runner_orders.runner_id, 
ROUND(AVG(TIMESTAMPDIFF(minute, customer_orders.order_time, runner_orders.pickup_time)),4) AS avg_mins_taken_to_arrive_HQ 
FROM runner_orders JOIN customer_orders ON customer_orders.order_id=runner_orders.order_id 
WHERE runner_orders.distance!= "null" GROUP BY runner_id''')

   runner_id  avg_mins_taken_to_arrive_HQ
0          1                      15.3333
1          2                      23.4000
2          3                      10.0000

## XI. Is there any relationship between the number of pizzas and how long the order takes to prepare?

**Expected Output:**

![image.png]()

In [19]:
# Write Your code here.
# considering difference between order time and pickup time as time to prepare
# creating a temporary table to understand the statistics
mysql('''SELECT customer_orders.order_id, COUNT(customer_orders.order_id) AS no_pizza_ordered, 
ROUND((TIMESTAMPDIFF(minute, order_time, pickup_time))) AS avg_time_to_prepare
FROM customer_orders JOIN runner_orders ON customer_orders.order_id = runner_orders.order_id
WHERE distance != 0 GROUP BY customer_orders.order_id''')

   order_id  no_pizza_ordered  avg_time_to_prepare
0         1                 1                   10
1         2                 1                   10
2         3                 2                   21
3         4                 3                   29
4         5                 1                   10
5         7                 1                   10
6         8                 1                   20
7        10                 2                   15

In [20]:
# Calculating the avg time to prepare by creating a temporary table pizza_table
mysql('''WITH pizza_table AS 
(SELECT customer_orders.order_id, COUNT(customer_orders.order_id) AS no_pizza_ordered, 
ROUND((TIMESTAMPDIFF(minute, order_time, pickup_time))) AS avg_time_to_prepare
FROM customer_orders JOIN runner_orders ON customer_orders.order_id = runner_orders.order_id
WHERE distance != 0 GROUP BY customer_orders.order_id)
SELECT no_pizza_ordered, avg_time_to_prepare FROM pizza_table GROUP BY no_pizza_ordered''')

   no_pizza_ordered  avg_time_to_prepare
0                 1                   10
1                 2                   21
2                 3                   29

## XII. What was the difference between the longest and shortest delivery times for all orders?

**Expected Output:**

![image.png]()

In [21]:
# Finding the difference between the longest and shortest delivery times for all orders
mysql('''SELECT (MAX(duration) - MIN(duration)) AS difference_longest_shortest_delivery_time
FROM runner_orders WHERE duration!= "null"''')

   difference_longest_shortest_delivery_time
0                                       30.0

## XIII. What was the average speed for each runner for each delivery and do you notice any trend for these values?

**Expected Output:**

![image.png]()

In [22]:
# Write Your code here.

# Finding the required data by joining and group by statistics
mysql('''SELECT runner_orders.runner_id, runner_orders.order_id, 
COUNT(customer_orders.order_id) AS pizza_count, runner_orders.distance*1000 AS distance_meter, 
runner_orders.duration, ROUND(runner_orders.distance*1000/runner_orders.duration,2) AS avg_speed 
FROM runner_orders JOIN customer_orders ON customer_orders.order_id= runner_orders.order_id 
WHERE runner_orders.duration!= "null" GROUP BY runner_orders.order_id ORDER BY runner_orders.runner_id''')

   runner_id  order_id  pizza_count  distance_meter    duration  avg_speed
0          1         1            1         20000.0  32 minutes     625.00
1          1         2            1         20000.0  27 minutes     740.74
2          1         3            2         13400.0     20 mins     670.00
3          1        10            2         10000.0   10minutes    1000.00
4          2         4            3         23400.0          40     585.00
5          2         7            1         25000.0      25mins    1000.00
6          2         8            1         23400.0   15 minute    1560.00
7          3         5            1         10000.0          15     666.67

In [23]:
# Checking trend in data
mysql('''SELECT runner_orders.runner_id, runner_orders.order_id, 
COUNT(customer_orders.order_id) AS pizza_count, runner_orders.distance*1000 AS distance_meter, 
runner_orders.duration, ROUND(runner_orders.distance*1000/runner_orders.duration,2) AS avg_speed 
FROM runner_orders JOIN customer_orders ON customer_orders.order_id= runner_orders.order_id 
WHERE runner_orders.duration!= "null" GROUP BY runner_orders.order_id ORDER BY runner_orders.distance''')

   runner_id  order_id  pizza_count  distance_meter    duration  avg_speed
0          3         5            1         10000.0          15     666.67
1          1        10            2         10000.0   10minutes    1000.00
2          1         3            2         13400.0     20 mins     670.00
3          1         1            1         20000.0  32 minutes     625.00
4          1         2            1         20000.0  27 minutes     740.74
5          2         4            3         23400.0          40     585.00
6          2         8            1         23400.0   15 minute    1560.00
7          2         7            1         25000.0      25mins    1000.00

From the above table, we can conclude that apart from few exception like order_id 10,4 and 7, average speed is directly proportional to distance

## XIV. For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

**Expected Output:**

![image.png]()

In [24]:
# Finding the orders with or without changes
mysql('''SELECT customer_orders.customer_id, 
SUM(CASE WHEN (customer_orders.exclusions != "null" AND customer_orders.exclusions != 0) OR 
(customer_orders.extras != "null" AND customer_orders.extras != 0) THEN 1 ELSE 0 END) AS with_changes,
SUM(CASE WHEN (customer_orders.exclusions = "null" OR customer_orders.exclusions = 0) AND 
(customer_orders.extras = "null" OR customer_orders.extras = 0) THEN 1 ELSE 0 END) AS no_changes
FROM customer_orders
JOIN runner_orders ON runner_orders.order_id = customer_orders.order_id
WHERE runner_orders.distance != "null"
GROUP BY customer_orders.customer_id''')

   customer_id  with_changes  no_changes
0          101           0.0         2.0
1          102           0.0         2.0
2          103           3.0         0.0
3          104           2.0         1.0
4          105           1.0         0.0

## XV.  How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)

**Expected Output:**

![image.png]()

In [25]:
# Write Your Code here

# Checking the temporary table for runner signups
mysql('''SELECT runner_id, WEEK(registration_date,1) AS runner_signups FROM runners
GROUP BY runner_id''')

   runner_id  runner_signups
0          1               0
1          2               0
2          3               1
3          4               2

In [26]:
# Finding the runner signups
mysql('''WITH week AS (SELECT runner_id, WEEK(registration_date,1) AS runner_signups FROM runners
GROUP BY runner_id) 
SELECT week.runner_id, CASE 
WHEN week.runner_signups = 0 THEN 'Week 1'
WHEN week.runner_signups = 1 THEN 'Week 2'
WHEN week.runner_signups = 2 THEN 'Week 3'
ELSE 'Week 4'
END AS runner_signups 
FROM week''')

   runner_id runner_signups
0          1         Week 1
1          2         Week 1
2          3         Week 2
3          4         Week 3

## XVI. What was the average distance travelled for each customer?

**Expected Output:**

![image.png]()

In [27]:
# Write Your Code here

# Finding the average distance travelled for each customer
mysql('''SELECT customer_id, SUM(distance)/COUNT(customer_id) AS avg_distance FROM runner_orders 
JOIN customer_orders ON customer_orders.order_id=runner_orders.order_id 
WHERE distance !="null" 
GROUP BY customer_id''')

   customer_id  avg_distance
0          101     20.000000
1          102     16.733333
2          103     23.400000
3          104     10.000000
4          105     25.000000

## XVII. What is the successful delivery percentage for each runner?

**Expected Output:**

![image.png]()

In [28]:
# Write Your Code here

# Checking the temporary table
mysql('''SELECT runner_id, SUM(CASE WHEN distance != 0 THEN 1 ELSE 0 END) AS total_success, 
COUNT(order_id) AS total_orders FROM runner_orders GROUP BY runner_id''')

   runner_id  total_success  total_orders
0          1            4.0             4
1          2            3.0             4
2          3            1.0             2

In [29]:
# Finding the successful delivery percentage for each runner
mysql('''WITH temp_table AS(SELECT runner_id, SUM(CASE WHEN distance != 0 THEN 1 ELSE 0 END) AS total_success, 
COUNT(order_id) AS total_orders FROM runner_orders GROUP BY runner_id)
SELECT runner_id, ROUND((total_success/total_orders)*100) AS successful_delivery_perc 
FROM temp_table''')

   runner_id  successful_delivery_perc
0          1                     100.0
1          2                      75.0
2          3                      50.0